<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ListenPort" value="9999"/>
    <!-- Event log config-->
    <add key="LogSource" value="Dashboard Service"/>
    <add key="LogName" value="Application"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
